
/*------------------------------轮播图------------------------------------*/
.pcarousel{position: relative;overflow:hidden;}
.pcarousel ul{position: relative;list-style: none;padding:0;margin:0;}
.pcarousel li{overflow:hidden;}
.pcarousel li img{display: block;}
.pcarousel .page{position:absolute;left:500px;bottom:10px;padding:10px;}
.pcarousel .page span{display:inline-block;margin:0 1px;width:30px;height:6px;background-color:#333333;}
.pcarousel .page span.active{background-color:#e5004f;}
.pcarousel .next,.pcarousel .previous{position:absolute;left:210px;top:50%;margin-top:-25px;width:30px;height:50px;line-height:50px;text-align:center;background: #333333;filter: alpha(opacity=50);font-size: 30px;color: white;opacity: 0.8;}
.pcarousel .next{left:auto;right:210px;}
.pcarousel .next:hover,.pcarousel .previous:hover{opacity:0.8;filter: alpha(opacity=100);background: #e5004f;}
.pcarousel .type-x li{float:left;}
.pcarousel .type-fade li{position:absolute;top:0;left:0;}
/*--------------------------内容---------------------------------*/
.content_box1{overflow: hidden;}
.content_box1_top{overflow: hidden;margin-top: 46px;}
.content_box1_top li{float: left;font-size:17px ;padding: 0px 110px 16px 110px;border-bottom:6px solid #333333 ;}
.content_box1_top li:hover{border-bottom:6px solid #e5004f;font-weight: bold;}
.content_box1_top_active{/*border-bottom:6px solid #e5004f;font-weight: bold;*/font-weight: bold;border-bottom:6px solid #e5004f;}
.content_box1_left{float: left;}
.content_box1_right{float: right;overflow: hidden;margin-left:8px;margin-top: 39px;}
.content_box1_right a img{width: 270px;height: 304px;}
.content_box1_right a:hover{opacity: 0.9;}
.content_box1_bottom{overflow: hidden;}
.content_box1_bottom{height: 275px;overflow: hidden;position: relative;}
.content_box1_bottom li{overflow: hidden;position: absolute;top: 0;left: 0;}
.content_box1_bottom li a{float: left;margin: 10px 8px 0px 0px;border: 1px solid white;}
.content_box1_bottom .content_box1_bottom_last{margin-right: 0px;}
.content_box1_bottom li a:hover{border: 1px solid gray;}
.content_box1_bottom li a img{width: 208px;height: 240px;}
/*--------------------------img1---------------------------------*/
.content_box2_top{margin: 30px 0px 8px 0px;}
.content_box2_bottom{border: 1px solid ghostwhite;width: auto;overflow: hidden;padding: 7px 7px;}
.content_box2_bottom_left{float: left;margin-right: 9px;overflow: hidden;}
.content_box2_bottom_left img{width: 350px;height: 488px;}
.content_box2_bottom_right{float: left;overflow: hidden;width: 770px;}
.content_box2_bottom_right_2{height: 462px;overflow: hidden;position: relative;}
.content_box2_bottom_right_2 li{overflow: hidden;position: absolute;top: 0;left: 0;}
.content_box2_bottom_right_2 li a{float: left;overflow: hidden;margin: 3px 4px 0px 0px;}
.content_box2_bottom_right_2list2 a{border: 1px solid gainsboro;}
.content_box2_bottom_right_2list2 a img{width:187px; height:226px;}
.content_box2_bottom_right_2list2 a:hover{border: 1px solid gray;}
.content_box2_bottom_right_2list2 .bottom_right_2list2_last{margin-right: 0px ;}

.content_box2_bottom_right_1 {/*border-bottom: 4px solid #333333;*/overflow: hidden;}
.content_box2_bottom_right_1 li{float: left;line-height: 22px;padding: 0px 12px;border-bottom: 4px solid #333333;}
.content_box2_bottom_right_1 li:hover{border-bottom: 4px solid #e5004f;}

.content_box2_bottom_right_2list2{opacity: 0;}
.content_box2_bottom_right_2list1 img{height: 228px;}
/*--------------------------img2---------------------------------*/
.content{overflow: hidden;}
.conton_box3{overflow: hidden;}
.conton_box3 span{padding: 42px 0px 14px 0px;height: auto;overflow: hidden;}
.conton_box3_left {width: 228px;height: auto;overflow: hidden;border: 1px solid gainsboro;float: left;}
.conton_box3_left_top{width: 219px;padding: 16px 0px 27px 8px;overflow: hidden;}
.conton_box3_left_top li{width: 65px;height: 32px;float: left;margin: 3px 5px 0px 0px;border: 1px solid gainsboro;line-height: 32px;text-align: center;font-weight: bold;overflow: hidden;}
.conton_box3_left_top li:hover{background: #e5004f;}
.conton_box3_left_top li a:hover{color: white;}
.conton_box3_left_bottom{overflow: hidden;}
.conton_box3_left_bottom ul{overflow: hidden;width: 160px;height: 104px;}
.conton_box3_left_bottom ul li a img{width: 75px;height: 50px;overflow: hidden;}
.conton_box3_left_bottom ul li a{float: left;margin: 0px 5px 3px 0px;}
.conton_box3_left_bottom_ul{margin: 0px 13px 36px 15px;background: ghostwhite;position: relative;padding:16px 20px 21px 20px ;width: 159px;height: 105px;border-top: 1px dashed gray;position: relative;}
.conton_box3_left_bottom_ul li{overflow: hidden;position: absolute;top: 15px;left: 20px;width: 160px;height: 105px;}
.btn_left{width: 8px;height: 10px;background: url(../img/img3/btnleft.png) no-repeat center center;position: absolute;left: 8px;top: 37px;}
.btn_right{width: 8px;height: 10px;background: url(../img/img3/btnright.png) no-repeat center center;position: absolute;right: 8px;top: 37px;}

.conton_box3_center{float: left;overflow: hidden;margin-left: 8px;}
.conton_box3_center ul{width: 390px;height: 370px;border: 1px solid gainsboro;overflow: hidden;position: relative;}
.conton_box3_center ul li{position: absolute;top: 0;left: 0;}

.conton_box3_right{float: left;overflow: hidden;width: 514px;height: 380px;}
.conton_box3_right ul{height: 380px;overflow: hidden;position: relative;}
.conton_box3_right ul li{float: left;width: 247px;height: 180px;border: 1px solid ghostwhite;margin: 0px 0px 8px 8px;}
.conton_box3_right ul li a img{width: 247px;height: 180px;}
.conton_box3_right ul li:hover{border: 1px solid black;}


/*--------------------------img3---------------------------------*/
.foot{margin: 0;}
.footer_bottom{margin-left: 420px;}
/*--------------------------foot--------------------------------*/
